.container-dashboard {
    margin-left: 240px;
  }

  .your-dashboard {
    font-size: 20px;
    margin-top: 30px;
  }

  .your-jobs {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
  }

  .results {
    text-align: center;
    margin-top: 50px;
}