.header {
    text-align: center;
    font-size: 35px;
    margin-top: 150px;
    color: black;
    font-family: 'Lato', sans-serif;

}
.home-body {
    margin-top: 150px;
    padding-bottom: 30px;
}

.map-location {
    text-align: center;
    padding-bottom: 20px;
}

.intro {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

form {
    height: 20px;
}
.logo {
    height: 70px;
    width: 70px;
    margin-top: -70px;
}

.location {
    height: 30px;
    width: 250px;
}

.search {
    height: 30px;
    width: 70px;
}
.login {
    color: blue;
    background: none;
    border: none;
}

.screenshot-images {
    border-style: solid;
    border-color: lightslategrey;
    border-width: 2px;
    width: 900px;
    height: 500px;
}

.screenshots {
    padding-top: 100px;
    text-align: center;

}

.dashboard-main {

    background-size: cover;

 
  }


  .top {
      font-size: 20px;
      padding-top: 40px;
  }
  
 