 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    /* text-align: left;
    background-color: #f1f1f1;
    margin-left: 15.0em; */
    /* width: 20.0em; */
    padding: 5px;
    /* margin-bottom: 5px; */
    /* width: 38.0em; */
    width: 38.0em;
    margin-bottom: 5px;
    
  } 

  .row .postings {
    margin-left: 60%;    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  */

  }
  
  .container-jobpostings{
    width: 35.0em;
    padding: 5px;
  }
  .job-info {
    margin-left: 20%;
    padding: 15px;
    margin-top: 3%;
    height: 42em;
    width: 39%;
    box-shadow: 4px 8px 12px 4px rgba(0, 0, 0, 0.2); 
    position: fixed;
    /* margin-left: 19.0em; */

  }
  .test-jobs {
    box-shadow: 5px 5px 10px #353c4e;
    margin-left: 40.0em;
    border-style: solid;
    border-width: 1px;
    width: 38%;
    height: 30.0em;
    border-color: lightgrey;
    position: fixed;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    /* transform: translate(-50%,-50%); */
    
    margin-top: -1.0em;
  
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }



.results-table {
  width: 50%;
}
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 80%;
      display: block;
      /* margin-bottom: 20px; */
    }
  }

/* div .card {
    text-align: left;
    width: 100%;
    /* margin-left: 18.0em; */
    /* padding-bottom: 1.7em; */
    /* padding-top: .3em; */
/* } */ 

.results {
    text-align: left;
    /* margin-left: 15.0em; */
}

.card-footer {
    /* margin-bottom: -.05em; */
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  /* margin-left: 10px; */
}

.breadcrumbs{
    color: blue;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}

.list-group-item {
  float:right;
  color: black;
}

/* .card :hover {
 background-color: white;
} */



